<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.humaniq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.GreeterActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.LoginActivity"
                  android:label="Authorize"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".views.RegisterActivity"
                  android:label="New user"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".views.take_photo.TakePhotoActivity"
                  android:label="Take photo"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".views.DashboardActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustPan"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".views.ProfileActivity"
                  android:label="Profile"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".views.LoginSignatureActivity"
                  android:label="Profile"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
                  android:screenOrientation="fullSensor"
                  tools:replace="screenOrientation" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="co.humaniq.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1c585039c291ebfd44d94f9dd2bc6cf1848cfa0c" />
    </application>

</manifest>
